* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /* color: white; */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  /* background: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: #17a2b8;
  /* opacity: 0.8; */
}
.logo {
  user-select: none;
  /* font-size: 2em;
  color: #fff; */
}

.navbar a {
  position: relative;
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 40px;
  text-decoration: none;
}
.navbar .Lgn-button {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.6s;
}
.navbar .Lgn-button:hover {
  background: white;
  color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(index.jpg);
  background-size: cover;
  background-position: center;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  bottom: -6px;
  left: 0;
  /* transform-origin: left; */
  transform: scaleY(0);
  transition: 0.5s;
}
.navbar a:hover::after {
  transform-origin: bottom;
  transform: scaleY(1);
}

.lgn-box {
  /* position: relative; */
  height: 200px;
  width: 500px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;

  overflow: hidden;
  transition: 0.9s;
}

a {
  /* position: relative; */
  color: black;
  font-size: 1.1em;
  font-weight: 500;
  /* margin-left: 40px; */
  text-decoration: none;
  transition: 50s;
}
.lgn-box a:hover {
  text-decoration: underline;
}
footer {
  position: absolute;
  bottom: 0;
  background-color: #17a2b8;
  width: 100%;
  height: 60px;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  /* opacity: 0.8; */
}
.image-123 {
  width: 60px;
  height: 40px;
  border-radius: 1000px;
  opacity: 1;
  z-index: 2;
}
